Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

chore: `bin/publish` shell script fixes (#2162)
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core, subscriber: more `downcast_ref` & `is` methods (#2160)
  tracing-core/src/collect.rs
  tracing-subscriber/src/subscribe/layered.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

core, subscriber: more `downcast_ref` & `is` methods (#2160)
  tracing-core/src/collect.rs
  tracing-subscriber/src/subscribe/layered.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

implement reload for the layer/subscriber
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/reload.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing::instrument args by autoref specialization
  tracing-attributes/src/expand.rs
  tracing-attributes/tests/destructuring.rs
  tracing-core/src/field.rs
  tracing/src/lib.rs
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche

Add valuable capture to __tracing_capture_value!
  tracing/src/lib.rs
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Let Subscribe disable specific events
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Explain how various interest enablers work together
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Rescue event_enabled impls from the rebase wastes
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Improve event_enabled order independence
  tracing-core/src/collect.rs
  tracing-subscriber/src/subscribe/layered.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

Properly call Collect::event_enabled in more places
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

Improve autoref specialization documentation
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Better differentiate field::debug from field::debug_ref
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

Apply code review documentation improvements
  tracing-core/src/collect.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

Ensure event_enabled is not called extra times
  tracing-subscriber/tests/event_enabling.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Gate event_enabling test for registry presence
  tracing-subscriber/tests/event_enabling.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Update tracing/src/lib.rs
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: implement `FIlter` for `reload::Subscriber` (#2159)
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/reload.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: implement `FIlter` for `reload::Subscriber` (#2159)
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/reload.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Add tracing-logfmt to related crates
  README.md
  tracing/README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: add tracing-logfmt to related crates (#2163)
  README.md
  tracing/README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: add tracing-logfmt to related crates (#2163)
  README.md
  tracing/README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: `impl field::Value for String`
  tracing-attributes/tests/fields.rs
  tracing-core/src/field.rs
  tracing/tests/event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche

core: `impl field::Value for String` (#2164)
  tracing-attributes/tests/fields.rs
  tracing-core/src/field.rs
  tracing/tests/event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche

core: `impl field::Value for String` (#2164)
  tracing-attributes/tests/fields.rs
  tracing-core/src/field.rs
  tracing/tests/event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche

core: `impl<C: Collect + ?Sized> Collect` for `Box<C>`, `Arc<C>` (#2161)
  tracing-core/src/collect.rs
Owners: @hawkw, @carllerche

core: `impl<C: Collect + ?Sized> Collect` for `Box<C>`, `Arc<C>` (#2161)
  tracing-core/src/collect.rs
Owners: @hawkw, @carllerche

core: add support for recording 128-bit ints (signed and unsigned)
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

Update tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

More event_enabled tests
  tracing-subscriber/tests/event_enabling.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

core: add support for recording 128-bit integers (#2166)
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

core: add support for recording 128-bit integers (#2166)
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

core, subscriber: add `event_enabled` to filter events on fields (#2008)
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/event_enabling.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

core, subscriber: add `event_enabled` to filter events on fields (#2008)
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/event_enabling.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

chore(ci): run MSRV checks with minimal versions
  .github/workflows/check_msrv.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: drop ancient tokio deps
  tracing-futures/Cargo.toml
  tracing-futures/src/lib.rs
  tracing-subscriber/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore(ci): skip tracing-futures from minimal-versions
  .github/workflows/check_msrv.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

don't test with minimal versions of dev deps
  .github/workflows/check_msrv.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix wrong cargo check command for appender
  .github/workflows/check_msrv.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing
