Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

rename `with_event_location` to `with_location`
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: enforce event_location for span tags (#2124)
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: enforce event_location for span tags (#2124)
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

clean up boilerplate in tests
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

Update tracing-opentelemetry/src/layer.rs
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

Update tracing-opentelemetry/src/layer.rs
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: add support for thread names/ids
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

switch back to type parameter
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix deprecation warnings in tests
  tracing-subscriber/src/fmt/format/json.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: record error source chain (#2122)
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

appender: add initial set of benches (#2128)
  tracing-appender/Cargo.toml
  tracing-appender/benches/bench.rs
  tracing/src/macros.rs
Owners: @zekisherif, @tokio-rs/tracing, @hawkw, @davidbarsky

appender: add initial set of benches (#2128)
  tracing-appender/Cargo.toml
  tracing-appender/benches/bench.rs
  tracing/src/macros.rs
Owners: @zekisherif, @tokio-rs/tracing, @hawkw, @davidbarsky

docs: remove old msrv note
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Add ability to rename timestamp and target.
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/json.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Update tracing-opentelemetry readme example
  tracing-opentelemetry/README.md
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: add more comments to example
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: remove incorrect MSRV note (#2137)
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: remove incorrect MSRV note (#2137)
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Add docs.
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Add docs.
  tracing-subscriber/src/fmt/format/json.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix broken docs link
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: add support for thread names/ids (#2134)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: add support for thread names/ids (#2134)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

Migrate from lazy_static to once_cell
  tracing-core/Cargo.toml
  tracing-core/src/callsite.rs
  tracing-core/src/dispatch.rs
  tracing-flame/Cargo.toml
  tracing-flame/src/lib.rs
  tracing-log/Cargo.toml
  tracing-log/src/lib.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/filter/env/directive.rs
Owners: @hawkw, @carllerche, @yaahc, @tokio-rs/tracing, @davidbarsky

tracing-core: add documentation on `DefaultCallsite`
  tracing-core/src/callsite.rs
Owners: @hawkw, @carllerche

fix clippy warning
  tracing-flame/src/lib.rs
Owners: @yaahc, @tokio-rs/tracing

core, subscriber: migrate from `lazy_static` to `once_cell` (#2147)
  tracing-core/Cargo.toml
  tracing-core/src/callsite.rs
  tracing-core/src/dispatch.rs
  tracing-flame/Cargo.toml
  tracing-flame/src/lib.rs
  tracing-log/Cargo.toml
  tracing-log/src/lib.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/filter/env/directive.rs
Owners: @hawkw, @carllerche, @yaahc, @tokio-rs/tracing, @davidbarsky

core, subscriber: migrate from `lazy_static` to `once_cell` (#2147)
  tracing-core/Cargo.toml
  tracing-core/src/callsite.rs
  tracing-core/src/dispatch.rs
  tracing-flame/Cargo.toml
  tracing-flame/src/lib.rs
  tracing-log/Cargo.toml
  tracing-log/src/lib.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/filter/env/directive.rs
Owners: @hawkw, @carllerche, @yaahc, @tokio-rs/tracing, @davidbarsky

tracing-core: add documentation on `DefaultCallsite` (#2149)
  tracing-core/src/callsite.rs
Owners: @hawkw, @carllerche

opentelemetry: fix event source locations (#2099)
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

subscriber: don't enable `tracing-core` features by default (#2107)
  tracing-subscriber/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

journald: disable default features of tracing-subscriber (#1476)
  tracing-journald/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Add additional information to references of my_crate in env_filter docs. (#1088)
  tracing-subscriber/src/filter/env/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix opentelemetry example (#2110)
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

error: add missing backtick to `prelude` docs (#2120)
  tracing-error/src/lib.rs
Owners: @yaahc, @tokio-rs/tracing

opentelemetry: enforce event_location for span tags (#2124)
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

appender: add initial set of benches (#2128)
  tracing-appender/Cargo.toml
  tracing-appender/benches/bench.rs
  tracing/src/macros.rs
Owners: @zekisherif, @tokio-rs/tracing, @hawkw, @davidbarsky

docs: remove incorrect MSRV note (#2137)
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: add support for thread names/ids (#2134)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: add more comments to example (#2140)
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing
