Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

chore(ci): run MSRV checks with minimal versions (#2171)
  .github/workflows/check_msrv.yml
  tracing-futures/Cargo.toml
  tracing-futures/src/lib.rs
  tracing-subscriber/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore(ci): run MSRV checks with minimal versions (#2171)
  .github/workflows/check_msrv.yml
  tracing-futures/Cargo.toml
  tracing-futures/src/lib.rs
  tracing-subscriber/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: remove vendored `lazy_static` on no-std
  tracing-core/src/callsite.rs
  tracing-core/src/lazy.rs
  tracing-core/src/lazy_static/LICENSE
  tracing-core/src/lazy_static/core_lazy.rs
  tracing-core/src/lazy_static/mod.rs
  tracing-core/src/lib.rs
Owners: @hawkw, @carllerche

opentelemetry: add more comments to example (#2140)
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: `bin/publish` shell script fixes (#2162)
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core, subscriber: more `downcast_ref` & `is` methods (#2160)
  tracing-core/src/subscriber.rs
  tracing-subscriber/src/layer/layered.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

docs: add tracing-logfmt to related crates (#2163)
  README.md
  tracing/README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: `impl field::Value for String` (#2164)
  tracing-attributes/tests/fields.rs
  tracing-core/src/field.rs
  tracing/tests/event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche

chore(ci): run MSRV checks with minimal versions (#2171)
  .github/workflows/check_msrv.yml
  tracing-futures/Cargo.toml
  tracing-futures/src/lib.rs
  tracing-subscriber/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core, subscriber: add `event_enabled` to filter events on fields (#2008)
  tracing-core/src/dispatcher.rs
  tracing-core/src/subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/layer/layered.rs
  tracing-subscriber/src/layer/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/event_enabling.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

core: `impl<S: Subscriber + ?Sized> Subscriber` for `Box<S>`, `Arc<S>` (#2161)
  tracing-core/src/subscriber.rs
Owners: @hawkw, @carllerche

core: add support for recording 128-bit integers (#2166)
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

core, subscriber: more `downcast_ref` & `is` methods (#2160)
  tracing-core/src/subscriber.rs
  tracing-subscriber/src/layer/layered.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

core: `impl<S: Subscriber + ?Sized> Subscriber` for `Box<S>`, `Arc<S>` (#2161)
  tracing-core/src/subscriber.rs
Owners: @hawkw, @carllerche

core: `impl field::Value for String` (#2164)
  tracing-attributes/tests/fields.rs
  tracing-core/src/field.rs
  tracing/tests/event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche

opentelemetry: add more comments to example (#2140)
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore(ci): run MSRV checks with minimal versions (#2171)
  .github/workflows/check_msrv.yml
  tracing-futures/Cargo.toml
  tracing-futures/src/lib.rs
  tracing-subscriber/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: add support for recording 128-bit integers (#2166)
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

chore: `bin/publish` shell script fixes (#2162)
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: add tracing-logfmt to related crates (#2163)
  README.md
  tracing/README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core, subscriber: add `event_enabled` to filter events on fields (#2008)
  tracing-core/src/dispatcher.rs
  tracing-core/src/subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/layer/layered.rs
  tracing-subscriber/src/layer/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/event_enabling.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

whoops i forgot derefmut
  tracing-core/src/lazy.rs
Owners: @hawkw, @carllerche

fix warnings
  tracing-core/src/lazy.rs
Owners: @hawkw, @carllerche

oops i accidentally deleted the sync impl
  tracing-core/src/lazy.rs
Owners: @hawkw, @carllerche

dox
  tracing-core/src/lazy.rs
Owners: @hawkw, @carllerche

fixup! remove unused code
  tracing-core/src/lazy.rs
  tracing-core/src/stdlib.rs
Owners: @hawkw, @carllerche

core: remove vendored `lazy_static` on no-std (#2173)
  tracing-core/src/callsite.rs
  tracing-core/src/lazy.rs
  tracing-core/src/lazy_static/LICENSE
  tracing-core/src/lazy_static/core_lazy.rs
  tracing-core/src/lazy_static/mod.rs
  tracing-core/src/lib.rs
  tracing-core/src/stdlib.rs
Owners: @hawkw, @carllerche

Fix logging with interest cache
  tracing-core/src/dispatcher.rs
  tracing-log/src/interest_cache.rs
  tracing-log/tests/init_interests_cache_before_global_subscriber.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

remove `Deref` impl and unwinding
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

reduce overhead of re-allocating `Dispatch::none`
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

fixup! opentelemetry: add semconv exception fields
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

fixup! opentelemetry: add semconv exception fields
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

fixup! opentelemetry: add semconv exception fields
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

fixup! opentelemetry: add semconv exception fields
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: add semconv exception fields
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

fixup! opentelemetry: add semconv exception fields
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: add semconv exception fields (#2135)
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

backport: subscriber: implement `FIlter` for `reload::Subscriber` (#2159)
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/reload.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix inference failure in doc test
  tracing-subscriber/src/filter/layer_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Apply docs suggestions from code review
  tracing-subscriber/src/reload.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing
