Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing

subscriber: mark builders as must_use (#2239)
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Adjust feature flag tests
  .github/workflows/CI.yml
  tracing/test-log-support/Cargo.toml
  tracing/test_static_max_level_features/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Rustup edition to 2021
  Cargo.toml
  examples/Cargo.toml
  tracing-appender/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-attributes/src/attr.rs
  tracing-core/Cargo.toml
  tracing-error/Cargo.toml
  tracing-flame/Cargo.toml
  tracing-futures/Cargo.toml
  tracing-journald/Cargo.toml
  tracing-log/Cargo.toml
  tracing-macros/Cargo.toml
  tracing-mock/Cargo.toml
  tracing-opentelemetry/Cargo.toml
  tracing-serde/Cargo.toml
  tracing-subscriber/Cargo.toml
  tracing-tower/Cargo.toml
  tracing/Cargo.toml
  tracing/src/macros.rs
  tracing/test-log-support/Cargo.toml
  tracing/test_static_max_level_features/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @zekisherif, @carllerche, @yaahc, @jtescher

opentelemetry: feature-flag `MetricsSubscriber` (#2234)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: feature-flag `MetricsSubscriber` (#2234)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

Check minver in matrix with stable toolcahain
  .github/workflows/CI.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Can't use env in matrix
  .github/workflows/CI.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Make FieldSet implement AsSerde
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: add a method to `Targets` to get the default level
  tracing-subscriber/src/filter/targets.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

use `find_map` instead of `find` and `map`
  tracing-subscriber/src/filter/targets.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: update `Targets::default_level` docs
  tracing-subscriber/src/filter/targets.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: if error occurs when formatting event, write error to Writer (#2102)
  tracing-subscriber/src/fmt/fmt_layer.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Apply docs suggestions from code review
  tracing-subscriber/src/filter/targets.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: add `Targets::default_level` method (#2242)
  tracing-subscriber/src/filter/targets.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: add `Targets::default_level` method (#2242)
  tracing-subscriber/src/filter/targets.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Allow per-subscribe filters to participate in event_enabled
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Test per-subscribe filters on event fields
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/per_event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix minimal-versions correctness
  examples/Cargo.toml
  tracing-appender/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-core/Cargo.toml
  tracing-error/Cargo.toml
  tracing-flame/Cargo.toml
  tracing-futures/Cargo.toml
  tracing-journald/Cargo.toml
  tracing-journald/src/lib.rs
  tracing-log/Cargo.toml
  tracing-macros/Cargo.toml
  tracing-mock/Cargo.toml
  tracing-opentelemetry/Cargo.toml
  tracing-serde/Cargo.toml
  tracing-subscriber/Cargo.toml
  tracing-tower/Cargo.toml
  tracing/Cargo.toml
  tracing/test-log-support/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @zekisherif, @carllerche, @yaahc, @jtescher

tracing-subscriber: impl `LookupSpan` for `Box<LS>` and `Arc<LS>`
  tracing-subscriber/src/registry/mod.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: impl `LookupSpan` for `Box<LS>` and `Arc<LS>` (#2247)
  tracing-subscriber/src/registry/mod.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: impl `LookupSpan` for `Box<LS>` and `Arc<LS>` (#2247)
  tracing-subscriber/src/registry/mod.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: fix minimal-versions correctness (#2246)
  examples/Cargo.toml
  tracing-appender/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-core/Cargo.toml
  tracing-error/Cargo.toml
  tracing-flame/Cargo.toml
  tracing-futures/Cargo.toml
  tracing-journald/Cargo.toml
  tracing-journald/src/lib.rs
  tracing-log/Cargo.toml
  tracing-macros/Cargo.toml
  tracing-mock/Cargo.toml
  tracing-opentelemetry/Cargo.toml
  tracing-serde/Cargo.toml
  tracing-subscriber/Cargo.toml
  tracing-tower/Cargo.toml
  tracing/Cargo.toml
  tracing/test-log-support/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @zekisherif, @carllerche, @yaahc, @jtescher

serde: implement `AsSerde` for `FieldSet` (#2241)
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

serde: implement `AsSerde` for `FieldSet` (#2241)
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Apply review suggestions
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: give `SetGlobalDefaultError` a useful `Debug` impl
  tracing-core/src/dispatch.rs
Owners: @hawkw, @carllerche

Improve documentation w.r.t. Filter::event_enabled
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Fix intra-doc link
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Apply docs suggestions from code review
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: add `Filter::event_enabled` (#2245)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/per_event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: add `Filter::event_enabled` (#2245)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/per_event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

`Not` is `not`, not `or`
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: `Not` is `not`, not `or` (#2249)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: `Not` is `not`, not `or` (#2249)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Explain filter.not() w.r.t. event_enabled
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: give `SetGlobalDefaultError` a useful `Debug` impl (#2250)
  tracing-core/src/dispatch.rs
Owners: @hawkw, @carllerche

core: give `SetGlobalDefaultError` a useful `Debug` impl (#2250)
  tracing-core/src/dispatch.rs
Owners: @hawkw, @carllerche

chore: refactor CI msrv & minver checks (#2238)
  .github/workflows/CI.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: refactor CI msrv & minver checks (#2238)
  .github/workflows/CI.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Update tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing
