Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing

add must_use for CollectorBuilder::finish
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Suppress more clippy
  tracing-attributes/src/expand.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: get all tests to pass with Valuable
  tracing-core/Cargo.toml
  tracing-core/src/dispatch.rs
  tracing-core/src/field.rs
  tracing-core/src/lib.rs
  tracing-core/tests/macros.rs
Owners: @hawkw, @carllerche

core: remove commented-out code
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

Update tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: add `must_use` for `CollectorBuilder::finish` (#2271)
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: add `must_use` for `CollectorBuilder::finish` (#2271)
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

[ImgBot] Optimize images
  assets/logo-type.png
  assets/logo.svg
  assets/splash.svg
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Update tracing-subscriber version in README
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: switch to git dep for valuable branch
  tracing-core/Cargo.toml
Owners: @hawkw, @carllerche

core: update dev dependencies to fix build
  tracing-core/Cargo.toml
Owners: @hawkw, @carllerche

Add tracing-chrome to list of related crates
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Pin trybuild test to stable instead
  tracing-attributes/tests/ui.rs
  tracing-attributes/tests/ui/async_instrument.stderr
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing-core,tracing-subscriber: add `{Collect,Subscriber}::on_register_dispatch`
  tracing-core/src/callsite.rs
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

chore: fix `clippy::borrow_deref_ref` lints
  tracing-attributes/src/expand.rs
  tracing-core/src/dispatch.rs
  tracing-error/src/error.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc

chore: fix `clippy::partial_eq_without_eq` lint
  examples/examples/futures-proxy-server.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: fix `clippy::borrow_deref_ref` lints (#2277)
  examples/examples/futures-proxy-server.rs
  tracing-attributes/src/expand.rs
  tracing-core/src/dispatch.rs
  tracing-error/src/error.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc

chore: fix `clippy::borrow_deref_ref` lints (#2277)
  examples/examples/futures-proxy-server.rs
  tracing-attributes/src/expand.rs
  tracing-core/src/dispatch.rs
  tracing-error/src/error.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc

docs: add tracing-chrome to list of related crates (#2275)
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: add tracing-chrome to list of related crates (#2275)
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: update tracing-subscriber version in README (#2273)
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: update tracing-subscriber version in README (#2273)
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: correct grammar in README (#2260)
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: correct grammar in README (#2260)
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: update ValueSet methods and add tests
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

core: use workspace-level patch for Valuable
  Cargo.toml
  tracing-core/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche

core: remove ValidLen trait
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

core: update ValueSet and FieldSet to use Valuable (#2259)
  Cargo.toml
  tracing-core/Cargo.toml
  tracing-core/src/dispatch.rs
  tracing-core/src/event.rs
  tracing-core/src/field.rs
  tracing-core/src/lib.rs
  tracing-core/src/span.rs
  tracing-core/tests/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche

Create SECURITY.md
  SECURITY.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Create CNAME
  CNAME
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Create FUNDING.yml
  .github/FUNDING.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Fixed macro valueset to support debug and display named parameters
  tracing/src/macros.rs
  tracing/tests/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

attributes: add fake return to improve span on type error (#2270)
  tracing-attributes/Cargo.toml
  tracing-attributes/src/expand.rs
  tracing-attributes/tests/ui.rs
  tracing-attributes/tests/ui/async_instrument.rs
  tracing-attributes/tests/ui/async_instrument.stderr
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

attributes: add fake return to improve span on type error (#2270)
  tracing-attributes/Cargo.toml
  tracing-attributes/src/expand.rs
  tracing-attributes/tests/ui.rs
  tracing-attributes/tests/ui/async_instrument.rs
  tracing-attributes/tests/ui/async_instrument.stderr
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

add tracing-web to the list of related crates
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

change link to crates.io
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Update CNAME
  CNAME
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

keep_last_n
  tracing-appender/Cargo.toml
  tracing-appender/src/rolling.rs
Owners: @zekisherif, @tokio-rs/tracing

disabled level warning: say which create the message refers to
  tracing-subscriber/src/filter/env/builder.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: say which crate the disabled level warning refers to (#2285)
  tracing-subscriber/src/filter/env/builder.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing
