Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing

opentelemetry: add more comments to example (#2140)
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

get cargo build to pass
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-core/src/metric.rs
Owners: @hawkw, @carllerche

Update more tests
  tracing-core/src/dispatch.rs
  tracing-core/src/metadata.rs
  tracing-core/tests/common/mod.rs
  tracing-mock/src/collector.rs
  tracing/src/dispatch.rs
  tracing/src/instrument.rs
  tracing/src/lib.rs
  tracing/tests/collector.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

define Metric data type (copy of Event)
  tracing-core/src/lib.rs
  tracing-core/src/metric.rs
Owners: @hawkw, @carllerche

Update more code that uses Collect trait
  examples/examples/counters.rs
  examples/examples/serde-yak-shave.rs
  examples/examples/sloggish/sloggish_collector.rs
  tracing-log/tests/log_tracer.rs
  tracing-mock/src/collector.rs
  tracing-opentelemetry/src/subscriber.rs
  tracing-serde/src/lib.rs
  tracing-subscriber/benches/filter.rs
  tracing-subscriber/benches/filter_log.rs
  tracing-subscriber/src/filter/env/mod.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/src/subscribe/tests.rs
  tracing/benches/global_subscriber.rs
  tracing/benches/subscriber.rs
  tracing/tests/collector.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @jtescher

core, subscriber: migrate from `lazy_static` to `once_cell` (#2147)
  examples/Cargo.toml
  examples/examples/hyper-echo.rs
  tracing-core/Cargo.toml
  tracing-core/src/callsite.rs
  tracing-core/src/lib.rs
  tracing-flame/Cargo.toml
  tracing-flame/src/lib.rs
  tracing-log/Cargo.toml
  tracing-log/src/interest_cache.rs
  tracing-log/src/lib.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/filter/env/directive.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc

Add accessor functions necessary for structured serde
  tracing-core/src/field.rs
  tracing-core/src/span.rs
Owners: @hawkw, @carllerche

Fix formatting
  tracing-core/src/span.rs
Owners: @hawkw, @carllerche

opentelemetry: enforce event_location for span tags (#2124)
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

error: add missing backtick to `prelude` docs (#2120)
  tracing-error/src/lib.rs
Owners: @yaahc, @tokio-rs/tracing

subscriber: don't enable `tracing-core` features by default (#2107)
  tracing-subscriber/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core, subscriber: migrate from `lazy_static` to `once_cell` (#2147)
  examples/Cargo.toml
  examples/examples/hyper-echo.rs
  tracing-core/Cargo.toml
  tracing-core/src/callsite.rs
  tracing-core/src/lib.rs
  tracing-flame/Cargo.toml
  tracing-flame/src/lib.rs
  tracing-log/Cargo.toml
  tracing-log/src/interest_cache.rs
  tracing-log/src/lib.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/filter/env/directive.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc

fix opentelemetry example (#2110)
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Add additional information to references of my_crate in env_filter docs. (#1088)
  tracing-subscriber/src/filter/env/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: fix event source locations (#2099)
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: add support for thread names/ids (#2134)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

docs: remove incorrect MSRV note (#2137)
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

journald: disable default features of tracing-subscriber (#1476)
  tracing-journald/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

appender: add initial set of benches (#2128)
  tracing-appender/Cargo.toml
  tracing-appender/benches/bench.rs
  tracing/src/macros.rs
Owners: @zekisherif, @tokio-rs/tracing, @hawkw, @davidbarsky

opentelemetry: prepare to release v0.17.3
  tracing-opentelemetry/CHANGELOG.md
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
Owners: @jtescher, @tokio-rs/tracing

whoops forgot credits
  tracing-opentelemetry/CHANGELOG.md
Owners: @jtescher, @tokio-rs/tracing

Apply suggestions from code review
  tracing-core/src/field.rs
  tracing-core/src/span.rs
Owners: @hawkw, @carllerche

opentelemetry: prepare to release v0.17.3 (#2154)
  tracing-opentelemetry/CHANGELOG.md
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
Owners: @jtescher, @tokio-rs/tracing

Clippy fixes
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

core: add `ValueSet::len` and `Record::len` (#2152)
  tracing-core/src/field.rs
  tracing-core/src/span.rs
Owners: @hawkw, @carllerche

core: prepare to release v0.1.27
  tracing-core/CHANGELOG.md
  tracing-core/Cargo.toml
  tracing-core/README.md
  tracing/Cargo.toml
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

core: prepare to release v0.1.27 (#2155)
  tracing-core/CHANGELOG.md
  tracing-core/Cargo.toml
  tracing-core/README.md
  tracing/Cargo.toml
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

tracing: prepare to releases v0.1.35
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Update CHANGELOG.md
  tracing/CHANGELOG.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: prepare to releases v0.1.35 (#2156)
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing-subscriber: change `try_init` error type to `TryInitError`
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing-core,tracing-subscriber: more `downcast_ref` & `is` methods
  tracing-core/src/collect.rs
  tracing-subscriber/src/subscribe/layered.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

tracing-core: impl<C: Collect + ?Sized> Collect for Box<C>, Arc<C>
  tracing-core/src/collect.rs
Owners: @hawkw, @carllerche

chore: fix use of `cargo --list` in bin/publish
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: fix shellcheck lints in bin/publish
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

set -euo pipefail
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: fix cargo hack exit status check
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: fix wrong emptystring args
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

prompt before installing cargo-hack
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: `bin/publish` shell script fixes (#2162)
  bin/publish
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing
