Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

don't try to write to /var/log in doctests
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

agh i missed one
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

appender: add a builder for constructing `RollingFileAppender`s (#2227)
  tracing-appender/Cargo.toml
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

appender: add a builder for constructing `RollingFileAppender`s (#2227)
  tracing-appender/Cargo.toml
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

tracing-core: implement `PartialEq`, `Eq` for `Metadata`, `FieldSet`
  tracing-core/src/field.rs
  tracing-core/src/metadata.rs
Owners: @hawkw, @carllerche

tracing-core: equal callsites imply equal `Metadata`, `FieldSet`
  tracing-core/src/callsite.rs
  tracing-core/src/field.rs
  tracing-core/src/metadata.rs
Owners: @hawkw, @carllerche

core: implement `PartialEq`, `Eq` for `Metadata`, `FieldSet` (#2229)
  tracing-core/src/callsite.rs
  tracing-core/src/field.rs
  tracing-core/src/metadata.rs
Owners: @hawkw, @carllerche

core: implement `PartialEq`, `Eq` for `Metadata`, `FieldSet` (#2229)
  tracing-core/src/callsite.rs
  tracing-core/src/field.rs
  tracing-core/src/metadata.rs
Owners: @hawkw, @carllerche

Fix minimal-versions correctness
  examples/Cargo.toml
  tracing-appender/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-core/Cargo.toml
  tracing-flame/Cargo.toml
  tracing-futures/Cargo.toml
  tracing-journald/Cargo.toml
  tracing-journald/src/lib.rs
  tracing-log/Cargo.toml
  tracing-mock/Cargo.toml
  tracing-opentelemetry/Cargo.toml
  tracing-serde/Cargo.toml
  tracing-subscriber/Cargo.toml
  tracing-tower/Cargo.toml
  tracing/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @zekisherif, @carllerche, @yaahc, @jtescher

opentelemetry: feature-flag `MetricsSubscriber`
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

subscriber: pass through `max_level_hint` in `reload` (#2204)
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/reload.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: remove hard coded version link from readme (#2208)
  tracing/README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore(ci): update actions/checkout action to v3 (#2213)
  .github/workflows/CI.yml
  .github/workflows/audit.yml
  .github/workflows/release.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: allow owned values and fat pointers in `Span::record` (#2212)
  tracing/src/span.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

appender: add a builder for constructing `RollingFileAppender`s (#2227)
  tracing-appender/Cargo.toml
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

appender: name spawned thread (#2219)
  tracing-appender/src/worker.rs
Owners: @zekisherif, @tokio-rs/tracing

core: remove misleading dispatcher docs (#2220)
  tracing/src/subscriber.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: implement `PartialEq`, `Eq` for `Metadata`, `FieldSet` (#2229)
  tracing-core/src/callsite.rs
  tracing-core/src/field.rs
  tracing-core/src/metadata.rs
Owners: @hawkw, @carllerche

chore: fix minimal-versions correctness (#2231)
  examples/Cargo.toml
  tracing-appender/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-core/Cargo.toml
  tracing-flame/Cargo.toml
  tracing-futures/Cargo.toml
  tracing-journald/Cargo.toml
  tracing-journald/src/lib.rs
  tracing-log/Cargo.toml
  tracing-mock/Cargo.toml
  tracing-opentelemetry/Cargo.toml
  tracing-serde/Cargo.toml
  tracing-subscriber/Cargo.toml
  tracing-tower/Cargo.toml
  tracing/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @zekisherif, @carllerche, @yaahc, @jtescher

chore: fix minimal-versions correctness (#2231)
  examples/Cargo.toml
  tracing-appender/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-core/Cargo.toml
  tracing-flame/Cargo.toml
  tracing-futures/Cargo.toml
  tracing-journald/Cargo.toml
  tracing-journald/src/lib.rs
  tracing-log/Cargo.toml
  tracing-mock/Cargo.toml
  tracing-opentelemetry/Cargo.toml
  tracing-serde/Cargo.toml
  tracing-subscriber/Cargo.toml
  tracing-tower/Cargo.toml
  tracing/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @zekisherif, @carllerche, @yaahc, @jtescher

Build journald subscriber only on Linux
  examples/examples/journald.rs
  tracing-journald/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

appender: name spawned thread (#2219)
  tracing-appender/src/worker.rs
Owners: @zekisherif, @tokio-rs/tracing

appender: add a builder for constructing `RollingFileAppender`s (#2227)
  tracing-appender/Cargo.toml
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

core: implement `PartialEq`, `Eq` for `Metadata`, `FieldSet` (#2229)
  tracing-core/src/callsite.rs
  tracing-core/src/field.rs
  tracing-core/src/metadata.rs
Owners: @hawkw, @carllerche

core: remove misleading dispatcher docs (#2220)
  tracing/src/subscriber.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore(ci): update actions/checkout action to v3 (#2213)
  .github/workflows/CI.yml
  .github/workflows/audit.yml
  .github/workflows/release.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: remove hard coded version link from readme (#2208)
  tracing/README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: allow owned values and fat pointers in `Span::record` (#2212)
  tracing/src/span.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: pass through `max_level_hint` in `reload` (#2204)
  tracing-subscriber/src/reload.rs
  tracing-subscriber/tests/reload.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: prepare to release v0.3.15
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: prepare to release v0.3.15 (#2237)
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

add suffix to builder
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

simpler get_date_format
  tracing-appender/src/rolling.rs
Owners: @zekisherif, @tokio-rs/tracing

remove unnecessary function
  tracing-appender/src/rolling.rs
Owners: @zekisherif, @tokio-rs/tracing

remove useless use
  tracing-appender/src/rolling.rs
Owners: @zekisherif, @tokio-rs/tracing

feat: mark builders as must_use
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

appender: add `Builder::filename_suffix` parameter (#2225)
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

appender: add `Builder::filename_suffix` parameter (#2225)
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

Refactor CI msrv & minver checks
  .github/workflows/CI.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: mark builders as must_use (#2239)
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing
