Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

subscriber: say which crate the disabled level warning refers to (#2285)
  tracing-subscriber/src/filter/env/builder.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

log: fix a double-lock bug in TraceLogger
  tracing-log/src/trace_logger.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: add `{Collect,Subscriber}::on_register_dispatch` (#2269)
  tracing-core/src/callsite.rs
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

core: add `{Collect,Subscriber}::on_register_dispatch` (#2269)
  tracing-core/src/callsite.rs
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

subscriber: Add `SubscriberBuilder`/`Layer` accessors (#1871)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: if error occurs when formatting event, write error to Writer (#2102)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: if error occurs when formatting event, write error to Writer (#2102)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: Add `SubscriberBuilder`/`Layer` accessors (#1871)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: Add `SubscriberBuilder`/`Layer` accessors (#1871)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: if error occurs when formatting event, write error to Writer (#2102)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing-core:valuable everywhere
  tracing-core/src/collect.rs
  tracing-core/src/dispatch.rs
  tracing-core/src/event.rs
  tracing-core/src/field.rs
  tracing-core/src/lib.rs
  tracing-core/src/metadata.rs
  tracing-core/src/span.rs
  tracing-core/tests/common/mod.rs
Owners: @hawkw, @carllerche

address review: line wrap and add in lib docs
  README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

add missing link in docs comment
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: add `tracing-web` to the list of related crates (#2283)
  README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: add `tracing-web` to the list of related crates (#2283)
  README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing-core: valuable everywhere (cont.)
  tracing-core/src/callsite.rs
  tracing-core/src/dispatch.rs
  tracing-core/src/lib.rs
  tracing-core/src/metadata.rs
  tracing-core/src/span.rs
Owners: @hawkw, @carllerche

valuable everywhere: remove `Identifier`.
  tracing-core/src/callsite.rs
  tracing-core/src/metadata.rs
Owners: @hawkw, @carllerche

Update to latest unstable opentelemetry
  examples/Cargo.toml
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/layer.rs
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/src/tracer.rs
  tracing-opentelemetry/tests/disabled/metrics_publishing.rs
  tracing-opentelemetry/tests/trace_state_propagation.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @jtescher

Delete CNAME
  CNAME
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Fix logging with interest cache
  tracing-core/src/dispatcher.rs
  tracing-log/src/interest_cache.rs
  tracing-log/tests/init_interests_cache_before_global_subscriber.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

remove `Deref` impl and unwinding
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

Remove unrelated change
  tracing-log/src/interest_cache.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

reduce overhead of re-allocating `Dispatch::none`
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

deps: Use `nu-ansi-term` to replace unmaintained `ansi_term`
  .github/workflows/CI.yml
  examples/Cargo.toml
  examples/examples/sloggish/sloggish_collector.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/format/pretty.rs
  tracing-subscriber/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix: add tracing-{appender,subscriber} to minimal version checks on stable
  .github/workflows/CI.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Something
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

subscriber: replace unmaintained `ansi_term` with `nu-ansi-term` (#2287)
  .github/workflows/CI.yml
  examples/Cargo.toml
  examples/examples/sloggish/sloggish_collector.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/format/pretty.rs
  tracing-subscriber/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: replace unmaintained `ansi_term` with `nu-ansi-term` (#2287)
  .github/workflows/CI.yml
  examples/Cargo.toml
  examples/examples/sloggish/sloggish_collector.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/format/pretty.rs
  tracing-subscriber/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Clean up
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

Fix tests
  tracing-core/src/dispatcher.rs
  tracing-log/tests/init_interests_cache_before_global_subscriber.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

Bring back function and only borrow
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

tracing-core: relax `get_default`'s argument to `FnOnce`
  tracing-core/src/dispatch.rs
Owners: @hawkw, @carllerche

Fix compilation
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

Make `Dispatch::none()` const
  tracing-core/src/callsite.rs
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

layer: on_event respects event's explicit parent
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: fix `on_event` not respecting events' explicit parents (#2296)
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: fix `on_event` not respecting events' explicit parents (#2296)
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

Fix test
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

opentelemetry: Update otel to 0.18.0
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/src/subscriber.rs
  tracing-opentelemetry/src/tracer.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
  tracing-opentelemetry/tests/trace_state_propagation.rs
Owners: @jtescher, @tokio-rs/tracing

Make CI happy
  tracing-core/src/callsite.rs
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing
