Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

opentelememtry: switch MetricsMap to use `&'static str`
  tracing-opentelemetry/src/metrics.rs
Owners: @jtescher, @tokio-rs/tracing

Improve wording for `with_silence_errors`
  tracing-subscriber/src/fmt/fmt_layer.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Update stderr messages to show origin is tracing_subscriber
  tracing-subscriber/src/fmt/fmt_layer.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: update format_error_print_to_stderr unit test for OS-agnostic assertions
  tracing-subscriber/src/fmt/fmt_layer.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: update rustdocs for `with_silence_errors`
  tracing-subscriber/src/fmt/fmt_layer.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: rename `with_silence_errors` to be more clear
  tracing-subscriber/src/fmt/fmt_layer.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore(ci): update actions/checkout action to v3
  .github/workflows/CI.yml
  .github/workflows/audit.yml
  .github/workflows/release.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: update metric name prefixes
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: slightly update wording of some comments
  tracing-opentelemetry/src/metrics.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: rename OpenTelemetryMetricsSubscriber
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: update wording of floating point comment
  tracing-opentelemetry/src/metrics.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: address PR comments regarding docs
  tracing-opentelemetry/src/metrics.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: update wording of Implementation Details
  tracing-opentelemetry/src/metrics.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: support publishing metrics (#2185)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: support publishing metrics (#2185)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

chore(ci): update actions/checkout action to v3 (#2213)
  .github/workflows/CI.yml
  .github/workflows/audit.yml
  .github/workflows/release.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore(ci): update actions/checkout action to v3 (#2213)
  .github/workflows/CI.yml
  .github/workflows/audit.yml
  .github/workflows/release.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

add a feature flag to support generating log files with local-time-zone suffix
  tracing-appender/Cargo.toml
  tracing-appender/src/rolling.rs
Owners: @zekisherif, @tokio-rs/tracing

docs: remove hard coded version link from readme (#2208)
  tracing/README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: remove hard coded version link from readme (#2208)
  tracing/README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

appender: name spawned thread
  tracing-appender/src/worker.rs
Owners: @zekisherif, @tokio-rs/tracing

subscriber: rename with_silence_internal_errors flag
  tracing-subscriber/src/fmt/fmt_layer.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

clarify what was being spawned in `expect` message
  tracing-appender/src/worker.rs
Owners: @zekisherif, @tokio-rs/tracing

appender: name spawned thread (#2219)
  tracing-appender/src/worker.rs
Owners: @zekisherif, @tokio-rs/tracing

appender: name spawned thread (#2219)
  tracing-appender/src/worker.rs
Owners: @zekisherif, @tokio-rs/tracing

Allow owned values and fat pointers in `Span::record`
  tracing/src/span.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: allow owned values and fat pointers in `Span::record` (#2212)
  tracing/src/span.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: allow owned values and fat pointers in `Span::record` (#2212)
  tracing/src/span.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

doc: remove misleading doc
  tracing/src/collect.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Apply suggestions from code review
  tracing/src/collect.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: remove misleading dispatcher docs (#2220)
  tracing/src/collect.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: remove misleading dispatcher docs (#2220)
  tracing/src/collect.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

appender: Add offset time setting
  tracing-appender/src/rolling.rs
Owners: @zekisherif, @tokio-rs/tracing

opentelemetry: Allow to set TraceId for a span
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: Add test for otel.trace_id
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

tracing-subscriber: correct fmt::init() documentation
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

appender: add a builder for constructing `RollingFileAppender`s
  tracing-appender/Cargo.toml
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

fix docs link
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

only use date for NEVER rotation if there's no pfx
  tracing-appender/src/rolling.rs
Owners: @zekisherif, @tokio-rs/tracing

fix wrong method name in examples
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing
