Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

Add additional information to references of my_crate in env_filter docs. (#1088)
  tracing-subscriber/src/filter/env/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Add additional information to references of my_crate in env_filter docs. (#1088)
  tracing-subscriber/src/filter/env/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix opentelemetry example (#2110)
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix opentelemetry example (#2110)
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Replace `tracing-serde` with `tracing-serde-structs`.
  tracing-serde-structs/CHANGELOG.md
  tracing-serde-structs/Cargo.toml
  tracing-serde-structs/LICENSE
  tracing-serde-structs/README.md
  tracing-serde-structs/src/lib.rs
  tracing-serde/Cargo.toml
  tracing-serde/src/fields.rs
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Remove from cargo toml
  Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Fix Cargo toml
  tracing-serde/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Increment MSRV
  tracing-serde/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Bump version check for tracing-serde
  .github/workflows/check_msrv.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Remove counting visitor, expose methods for length
  tracing-core/src/field.rs
  tracing-core/src/span.rs
  tracing-serde/src/lib.rs
Owners: @hawkw, @carllerche, @davidbarsky, @tokio-rs/tracing

Apply review suggestions
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

attributes: fix incorrect default level in docs
  tracing-attributes/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

error: add missing backtick to `prelude` docs
  tracing-error/src/lib.rs
Owners: @yaahc, @tokio-rs/tracing

error: add missing backtick to `prelude` docs (#2120)
  tracing-error/src/lib.rs
Owners: @yaahc, @tokio-rs/tracing

error: add missing backtick to `prelude` docs (#2120)
  tracing-error/src/lib.rs
Owners: @yaahc, @tokio-rs/tracing

attributes: fix incorrect default level in docs (#2119)
  tracing-attributes/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: record error source chain
  tracing-opentelemetry/src/layer.rs
Owners: @jtescher, @tokio-rs/tracing

Review fixes
  tracing-appender/src/rolling/builder.rs
  tracing-appender/src/rolling/compression.rs
Owners: @zekisherif, @tokio-rs/tracing

Add `Field::new_unchecked` to `tracing-core`
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

Support `no_std` in `tracing-log`
  tracing-log/Cargo.toml
  tracing-log/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Switch to the new v2 cargo resolver
  Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Avoid an `#[cfg]` on an `if` due to MSRV
  tracing-log/src/log_tracer.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Make `log-tracer` feature compatible with `no_std`; add `alloc` feature
  tracing-log/Cargo.toml
  tracing-log/src/lib.rs
  tracing-log/src/log_tracer.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Add to_owned() to everything, introduce CowString
  tracing-serde/Cargo.toml
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Static Serialize* structures should be Send.
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: enforce event_location for root span tags
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

docs: added missing periods to `with_thread_{names, ids}`
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: added missing periods to `with_thread_{names, ids}` (#2126)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: added missing periods to `with_thread_{names, ids}` (#2126)
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: backport #2126
  tracing-subscriber/src/fmt/fmt_layer.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

chore: backport #2126 (#2127)
  tracing-subscriber/src/fmt/fmt_layer.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

appender: add initial set of benches
  tracing-appender/Cargo.toml
  tracing-appender/benches/bench.rs
Owners: @zekisherif, @tokio-rs/tracing

head down to the pub
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

switch to no-op writers in benchmarks
  tracing-appender/benches/bench.rs
Owners: @zekisherif, @tokio-rs/tracing

subscriber: update test assertion to print actual/expected
  tracing-subscriber/src/fmt/fmt_layer.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix macro resolution issue
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

[wip] draft API for passing timer into formatters
  examples/examples/fmt.rs
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/json.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/format/pretty.rs
  tracing-subscriber/src/fmt/time/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

wow whoa it's fully backwards compatible
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/json.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/format/pretty.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/fmt/time/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

with_span_events no longer requires `Format`
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

use new apis in tests
  tracing-subscriber/src/fmt/fmt_subscriber.rs
  tracing-subscriber/src/fmt/format/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing
