Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing

subscriber: correct fmt::init() documentation (#2224)
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Tweak Filter::not wording further
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Apply nits
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix spelling of "pseudo"
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: clarify `filter.not()` docs w.r.t. event_enabled (#2251)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: clarify `filter.not()` docs w.r.t. event_enabled (#2251)
  tracing-subscriber/src/filter/subscriber_filters/combinator.rs
  tracing-subscriber/src/filter/subscriber_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

appender: add `Builder::filename_suffix` parameter (#2225)
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

subscriber: mark builders as must_use (#2239)
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

one happy path seems to be working for trace, debug, info, warn, error and event
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: support publishing metrics (#2185)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: feature-flag `MetricsLayer` (#2234)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

subscriber: add `Targets::default_level` method (#2242)
  tracing-subscriber/src/filter/targets.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: impl `LookupSpan` for `Box<LS>` and `Arc<LS>` (#2247)
  tracing-subscriber/src/layer/mod.rs
  tracing-subscriber/src/registry/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

serde: implement `AsSerde` for `FieldSet` (#2241)
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: add `Filter::event_enabled` (#2245)
  tracing-subscriber/src/filter/layer_filters/combinator.rs
  tracing-subscriber/src/filter/layer_filters/mod.rs
  tracing-subscriber/src/layer/mod.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/tests/layer_filters/main.rs
  tracing-subscriber/tests/layer_filters/per_event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: `Not` is `not`, not `or` (#2249)
  tracing-subscriber/src/filter/layer_filters/combinator.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: give `SetGlobalDefaultError` a useful `Debug` impl (#2250)
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

subscriber: clarify `filter.not()` docs w.r.t. event_enabled (#2251)
  tracing-subscriber/src/filter/layer_filters/combinator.rs
  tracing-subscriber/src/filter/layer_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: mark builders as must_use (#2239)
  tracing-subscriber/src/filter/env/builder.rs
  tracing-subscriber/src/fmt/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: support publishing metrics (#2185)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: feature-flag `MetricsLayer` (#2234)
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
Owners: @jtescher, @tokio-rs/tracing

appender: add `Builder::filename_suffix` parameter (#2225)
  tracing-appender/src/rolling.rs
  tracing-appender/src/rolling/builder.rs
Owners: @zekisherif, @tokio-rs/tracing

subscriber: add `Targets::default_level` method (#2242)
  tracing-subscriber/src/filter/targets.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: impl `LookupSpan` for `Box<LS>` and `Arc<LS>` (#2247)
  tracing-subscriber/src/layer/mod.rs
  tracing-subscriber/src/registry/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: add `Filter::event_enabled` (#2245)
  tracing-subscriber/src/filter/layer_filters/combinator.rs
  tracing-subscriber/src/filter/layer_filters/mod.rs
  tracing-subscriber/src/layer/mod.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/tests/layer_filters/main.rs
  tracing-subscriber/tests/layer_filters/per_event.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: clarify `filter.not()` docs w.r.t. event_enabled (#2251)
  tracing-subscriber/src/filter/layer_filters/combinator.rs
  tracing-subscriber/src/filter/layer_filters/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: give `SetGlobalDefaultError` a useful `Debug` impl (#2250)
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

serde: implement `AsSerde` for `FieldSet` (#2241)
  tracing-serde/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: `Not` is `not`, not `or` (#2249)
  tracing-subscriber/src/filter/layer_filters/combinator.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: prepare to release v0.1.29
  tracing-core/CHANGELOG.md
  tracing-core/Cargo.toml
  tracing-core/README.md
Owners: @hawkw, @carllerche

core: prepare to release v0.1.29 (#2256)
  tracing-core/CHANGELOG.md
  tracing-core/Cargo.toml
  tracing-core/README.md
Owners: @hawkw, @carllerche

tracing: prepare to release v0.1.36
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: prepare to release v0.1.36 (#2257)
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: update ValueSet and FieldSet to use Valuable
  tracing-core/Cargo.toml
  tracing-core/src/field.rs
Owners: @hawkw, @carllerche

Correct grammar in README
  README.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

core: fix non-test code, and begin updating tests
  tracing-core/src/event.rs
  tracing-core/src/field.rs
  tracing-core/src/span.rs
Owners: @hawkw, @carllerche

Add trybuild test for instrumented async fn type mismatch
  tracing-attributes/Cargo.toml
  tracing-attributes/tests/ui.rs
  tracing-attributes/tests/ui/async_instrument.rs
  tracing-attributes/tests/ui/async_instrument.stderr
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Add fake return to improve span on type error in tracing::instrument
  tracing-attributes/src/expand.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Suppress clippy divergence warning
  tracing-attributes/src/expand.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Improve error for async fn implicitly returning unit
  tracing-attributes/src/expand.rs
  tracing-attributes/tests/ui/async_instrument.rs
  tracing-attributes/tests/ui/async_instrument.stderr
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing
