Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing

... but actually
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: document that `event_enabled!` does not call `Collect::event_enabled` (#2179)
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: document that `event_enabled!` does not call `Collect::event_enabled` (#2179)
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

add target to expr
  tracing-attributes/src/expand.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tweak
  tracing-attributes/src/expand.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

wip
  tracing-attributes/src/expand.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

impl
  tracing-attributes/src/expand.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: support publishing metrics
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metric.rs
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

add docs
  tracing-attributes/src/expand.rs
  tracing-attributes/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

clarify docs
  tracing-attributes/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: prepare to release v0.3.12
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: prepare to release v0.3.12 (#2187)
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: update dev chat link
  CONTRIBUTING.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

wip
  tracing-attributes/Cargo.toml
  tracing-attributes/tests/err.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

wip
  tracing-attributes/tests/err.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

wip
  tracing-attributes/tests/err.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

added ret and err unit tests
  tracing-attributes/tests/err.rs
  tracing-attributes/tests/ret.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Update CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: update minimum `tracing-core` dep to 0.1.28
  tracing-subscriber/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: update minimum `tracing-core` dep to 0.1.28 (#2190)
  tracing-subscriber/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: fix clippy lint for `drop` call
  tracing-subscriber/src/layer/layered.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix let binding for unit value
  tracing-subscriber/tests/registry_with_subscriber.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

fix another instance of `drop_non_drop` lint
  tracing-opentelemetry/benches/trace.rs
Owners: @jtescher, @tokio-rs/tracing

subscriber: fix clippy lints (#2191)
  tracing-opentelemetry/benches/trace.rs
  tracing-subscriber/src/layer/layered.rs
  tracing-subscriber/tests/registry_with_subscriber.rs
Owners: @jtescher, @tokio-rs/tracing, @hawkw, @davidbarsky

subscriber: prepare to release v0.3.13
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: prepare to release v0.3.13 (#2192)
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

<None as Subscribe>::event_enabled should be true
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Backport #2193
  tracing-subscriber/src/layer/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: fix clippy lints (#2191)
  tracing-opentelemetry/benches/trace.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/tests/registry_with_subscriber.rs
Owners: @jtescher, @tokio-rs/tracing, @hawkw, @davidbarsky

subscriber: fix clippy lints (#2191)
  tracing-opentelemetry/benches/trace.rs
  tracing-subscriber/src/subscribe/layered.rs
  tracing-subscriber/tests/registry_with_subscriber.rs
Owners: @jtescher, @tokio-rs/tracing, @hawkw, @davidbarsky

core: fix elided lifetime clippy lint in test
  tracing-core/src/callsite.rs
Owners: @hawkw, @carllerche

core: fix elided lifetime clippy lint in test
  tracing-core/src/callsite.rs
Owners: @hawkw, @carllerche

fix max_level_hint for empty cases for Option/Vec Subscribe impls
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/option.rs
  tracing-subscriber/tests/subscriber_filters/vec.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: update dev chat link (#2188)
  CONTRIBUTING.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

docs: update dev chat link (#2188)
  CONTRIBUTING.md
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

cleanup tests and comments
  tracing-subscriber/src/subscribe/mod.rs
  tracing-subscriber/tests/option.rs
  tracing-subscriber/tests/subscriber_filters/vec.rs
  tracing-subscriber/tests/vec.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: fix clippy unused lifetime lint
  tracing-subscriber/src/fmt/format/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: fix clippy unused lifetime lint
  tracing-subscriber/src/fmt/format/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

one more try
  tracing-subscriber/tests/subscriber_filters/main.rs
  tracing-subscriber/tests/subscriber_filters/vec.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

subscriber: `<None as Subscribe>::event_enabled` should be `true` (#2193)
  tracing-subscriber/src/subscribe/mod.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing
