Repository tokio-rs/tracing, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @carllerche, @yaahc, @jtescher, @zekisherif

Fix test
  tracing-core/src/dispatcher.rs
Owners: @hawkw, @carllerche

More fixes
  tracing-appender/src/rolling.rs
  tracing-attributes/src/expand.rs
  tracing-core/Cargo.toml
  tracing-error/src/error.rs
  tracing-subscriber/benches/support/mod.rs
Owners: @zekisherif, @tokio-rs/tracing, @hawkw, @davidbarsky, @carllerche, @yaahc

Bump MSRV
  .github/workflows/CI.yml
  tracing-appender/Cargo.toml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @zekisherif

Update MSRV to 1.56
  .github/workflows/CI.yml
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @jtescher

Update examples
  examples/Cargo.toml
  examples/examples/opentelemetry.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Fix async-trait dep
  tracing-opentelemetry/Cargo.toml
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: update otel to 0.18.0 (#2303)
  .github/workflows/CI.yml
  examples/Cargo.toml
  examples/examples/opentelemetry.rs
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/src/subscriber.rs
  tracing-opentelemetry/src/tracer.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
  tracing-opentelemetry/tests/trace_state_propagation.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @jtescher

opentelemetry: update otel to 0.18.0 (#2303)
  .github/workflows/CI.yml
  examples/Cargo.toml
  examples/examples/opentelemetry.rs
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/src/subscriber.rs
  tracing-opentelemetry/src/tracer.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
  tracing-opentelemetry/tests/trace_state_propagation.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @jtescher

attributes: fix handling of inner attributes
  tracing-attributes/src/expand.rs
  tracing-attributes/src/lib.rs
  tracing-attributes/tests/async_fn.rs
  tracing-attributes/tests/instrument.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

macros: Add dyn keyword for trait objects in valueset! expansion
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: update otel to 0.18.0 (#2303)
  examples/Cargo.toml
  examples/examples/opentelemetry.rs
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/layer.rs
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/src/tracer.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
  tracing-opentelemetry/tests/trace_state_propagation.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @jtescher

opentelemetry: add semconv exception fields
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

Update msrv action
  .github/workflows/CI.yml
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

opentelemetry: add semconv exception fields (#2310)
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

opentelemetry: add semconv exception fields (#2310)
  tracing-opentelemetry/src/subscriber.rs
Owners: @jtescher, @tokio-rs/tracing

chore: fix `clippy::borrow_deref_ref` warnings
  examples/examples/futures-proxy-server.rs
  tracing-attributes/src/expand.rs
  tracing-error/src/error.rs
  tracing-subscriber/src/fmt/writer.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @yaahc

opentelemetry: update otel to 0.18.0 (#2303)
  .github/workflows/CI.yml
  examples/Cargo.toml
  examples/examples/opentelemetry.rs
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/layer.rs
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/metrics.rs
  tracing-opentelemetry/src/tracer.rs
  tracing-opentelemetry/tests/metrics_publishing.rs
  tracing-opentelemetry/tests/trace_state_propagation.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing, @jtescher

tracing: add `dyn` keyword for trait objects in `valueset!` expansion (#2308)
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

tracing: add `dyn` keyword for trait objects in `valueset!` expansion (#2308)
  tracing/src/macros.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Fix warning
  tracing-attributes/src/lib.rs
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

Create CNAME
  CNAME
Owners: @hawkw, @davidbarsky, @tokio-rs/tracing

.github/CODEOWNERS:

# Eliza should review everything unassigned, with David as a backup.
*                               @hawkw @davidbarsky @tokio-rs/tracing

# tracing-core should include Eliza and Carl.
/tracing-core/                  @hawkw @carllerche

# tracing-error and tracing-flame were contributed by Jane.
/tracing-error/                 @yaahc @tokio-rs/tracing
/tracing-flame/                 @yaahc @tokio-rs/tracing

# David contributed the Registry implementation.
/tracing-subscriber/registry    @davidbarsky @hawkw @tokio-rs/tracing

# Julian contributed the OpenTelemetry implementation.
/tracing-opentelemetry/    @jtescher @tokio-rs/tracing

# Zeki contributed the TracingAppender implementation
/tracing-appender/              @zekisherif  @tokio-rs/tracing
