Repository tokio-rs/tracing, pull requests merged in 2019-07, with the labels that each got.

#134 chore: remove verbose from CI
  .travis.yml
Labels: kind/maintenance

#131 tracing: fix log support
  .travis.yml
  tracing-env-logger/examples/hyper-echo.rs
  tracing-futures/examples/proxy_server.rs
  tracing/src/lib.rs
  tracing/src/macros.rs
  tracing/src/span.rs
  tracing/test-log-support/Cargo.toml
  tracing/test_static_max_level_features/Cargo.toml
Labels: crate/tracing, kind/bug

#141 meta: add releasing docs and automation
  CONTRIBUTING.md
  bin/publish
Labels: kind/maintenance

#143 tracing: bump deps
  tracing/Cargo.toml
Labels: crate/tracing

#142 tracing: readme cleanup
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing, kind/docs

#144 chore: remove remaining references to tracing-nursery
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  tracing-core/src/lib.rs
Labels: kind/docs, kind/maintenance

#145 prepare to release tracing 0.1.1
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/src/lib.rs
Labels: crate/tracing, kind/maintenance

#147 tracing: add `Span::none()` constructor
  tracing/src/span.rs
Labels: crate/subscriber, kind/feature

#150 chore: ignore all target dirs
  .gitignore
Labels: kind/maintenance

#148 core: add `Subscriber::current_span`
  tracing-core/src/dispatcher.rs
  tracing-core/src/span.rs
  tracing-core/src/subscriber.rs
  tracing/src/span.rs
Labels: crate/core, crate/tracing, kind/feature

#152 tracing: fix prefixed macro imports not working
  tracing/src/macros.rs
  tracing/tests/macro_imports.rs
Labels: crate/tracing, kind/bug

#154 core: add missing "and"
  tracing-core/src/span.rs
Labels: crate/core, kind/docs

#155 core: prepare for 0.1.1
  tracing-core/CHANGELOG.md
  tracing-core/Cargo.toml
  tracing-core/README.md
  tracing-core/src/lib.rs
Labels: crate/core, kind/maintenance

#156 tracing: prepare to release 0.1.2
  tracing-serde/Cargo.toml
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing, kind/maintenance

#164 fmt: add support for `Subscriber::current_span`
  tracing-fmt/src/lib.rs
  tracing-fmt/src/span.rs
Labels: crate/fmt, kind/feature

#166 tracing: fix event macros with single local variables
  tracing/src/macros.rs
  tracing/tests/macros.rs
Labels: crate/tracing, kind/bug

#153 core: add `Subscriber::try_close`
  tracing-core/src/dispatcher.rs
  tracing-core/src/subscriber.rs
Labels: crate/core, kind/feature

#170 core: add `Into` impls for `span::Current`
  tracing-core/src/span.rs
Labels: crate/core, kind/feature

#168 core: deprecate `drop_span`
  tracing-core/src/dispatcher.rs
  tracing-core/src/subscriber.rs
Labels: crate/core

#171 core: update dispatcher documentation
  tracing-core/src/dispatcher.rs
Labels: crate/core, kind/docs

#173 core: prepare to release 0.1.2
  tracing-core/CHANGELOG.md
  tracing-core/Cargo.toml
  tracing-core/README.md
  tracing-core/src/lib.rs
Labels: crate/core, kind/maintenance

#174 chore: update everything to use `try_close`
  tracing-fmt/Cargo.toml
  tracing-fmt/src/lib.rs
  tracing-fmt/src/span.rs
  tracing-futures/Cargo.toml
  tracing-log/Cargo.toml
  tracing-log/src/lib.rs
  tracing-serde/Cargo.toml
  tracing/Cargo.toml
  tracing/examples/sloggish/sloggish_subscriber.rs
  tracing/src/span.rs
  tracing/tests/support/subscriber.rs
Labels: crate/fmt, crate/futures, crate/log, crate/subscriber, crate/tracing, kind/maintenance

#181 tracing: prepare to release 0.1.3
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/src/lib.rs
Labels: crate/tracing, kind/maintenance

#136 subscriber: Add a `Layer` type for composing subscribers
  tracing-fmt/Cargo.toml
  tracing-macros/Cargo.toml
  tracing-proc-macros/Cargo.toml
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/layer.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/prelude.rs
Labels: crate/subscriber

#194 core: add a Display implementation for Level
  tracing-core/src/metadata.rs
Labels: crate/core, kind/feature

#198 tower: Rewrite the tower support crate
  tracing-tower/Cargo.toml
  tracing-tower/examples/h2-client.rs
  tracing-tower/examples/h2-server.rs
  tracing-tower/src/http.rs
  tracing-tower/src/lib.rs
  tracing-tower/src/request_span.rs
  tracing-tower/src/service_span.rs
Labels: kind/feature

#209 futures: add `TypedExecutor` impls
  tracing-futures/src/executor.rs
Labels: crate/futures, kind/feature

#214 meta: README and badges tweaks
  README.md
  tracing-core/Cargo.toml
  tracing-core/README.md
  tracing-env-logger/Cargo.toml
  tracing-fmt/Cargo.toml
  tracing-fmt/README.md
  tracing-futures/Cargo.toml
  tracing-log/Cargo.toml
  tracing-macros/Cargo.toml
  tracing-proc-macros/Cargo.toml
  tracing-serde/Cargo.toml
  tracing-subscriber/Cargo.toml
  tracing-tower-http/Cargo.toml
  tracing-tower/Cargo.toml
  tracing/Cargo.toml
  tracing/README.md
Labels: kind/docs, kind/maintenance

#215 log: add ignored target prefixes to `LogTracer`
  tracing-log/src/lib.rs
  tracing-log/src/log_tracer.rs
  tracing-log/src/trace_logger.rs
Labels: crate/log, kind/feature

#227 subscriber: prepare to release v0.0.1-alpha.1
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber, kind/maintenance
