Repository tokio-rs/tracing, pull requests merged in 2019-08, with the labels that each got.

#223 subscriber: add Filter and Reload layers
  tracing-env-logger/Cargo.toml
  tracing-fmt/src/filter/mod.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/examples/filter_yakshave.rs
  tracing-subscriber/examples/load.rs
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/field.rs
  tracing-subscriber/src/filter/level.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/layer.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/thread.rs
  tracing-subscriber/tests/filter.rs
  tracing-subscriber/tests/support.rs
  tracing-tower-http/Cargo.toml
  tracing-tower/Cargo.toml
  tracing/tests/support/event.rs
  tracing/tests/support/field.rs
  tracing/tests/support/metadata.rs
  tracing/tests/support/subscriber.rs
Labels: crate/subscriber, kind/feature

#233 subscriber: split out field filter tests
  tracing-subscriber/tests/field_filter.rs
  tracing-subscriber/tests/filter.rs
Labels: crate/subscriber, kind/bug

#235 futures: add docs
  tracing-futures/Cargo.toml
  tracing-futures/README.md
  tracing-futures/src/lib.rs
Labels: crate/futures, kind/docs

#237 futures: prepare to release alpha.1
  tracing-futures/Cargo.toml
  tracing-futures/README.md
Labels: crate/futures, kind/maintenance

#239 subscriber: add filter test for recording after creation
  tracing-subscriber/tests/field_filter.rs
Labels: crate/subscriber

#232 subscriber: prepare 0.0.1-alpha.2 release
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/field.rs
  tracing-subscriber/src/filter/level.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/layer.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/reload.rs
Labels: crate/subscriber, kind/maintenance

#242 chore: move load-gen example to tracing-tower
  tracing-tower/Cargo.toml
  tracing-tower/examples/load.rs
Labels: crate/subscriber, crate/tower, kind/maintenance

#244 proc-macros: add proper support for `async fn`
  azure-pipelines.yml
  nightly-examples/Cargo.toml
  nightly-examples/README.md
  nightly-examples/examples/async_fn.rs
  tracing-futures/test_std_future/src/lib.rs
  tracing-futures/test_std_future/tests/test.rs
  tracing-proc-macros/Cargo.toml
  tracing-proc-macros/src/lib.rs
  tracing-proc-macros/src/nightly.rs
  tracing-proc-macros/src/stable.rs
  tracing-proc-macros/test_async_await/Cargo.toml
  tracing-proc-macros/test_async_await/tests/async_fn.rs
Labels: crate/proc-macros, kind/feature

#253 tracing: add `tracing-attributes` re-export
  tracing/Cargo.toml
  tracing/src/lib.rs
Labels: crate/tracing

#256 core: support `no-std` + `alloc`
  azure-pipelines.yml
  tracing-core/Cargo.toml
  tracing-core/README.md
  tracing-core/src/callsite.rs
  tracing-core/src/dispatcher.rs
  tracing-core/src/field.rs
  tracing-core/src/lib.rs
  tracing-core/src/metadata.rs
  tracing-core/src/span.rs
  tracing-core/src/stdlib.rs
  tracing-core/src/subscriber.rs
  tracing-core/tests/macros.rs
Labels: crate/core, kind/feature

#257 docs: link to published crates in readme
  README.md
Labels: kind/docs

#258 attributes: remove need to feature flag async-await support
  nightly-examples/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-attributes/src/lib.rs
  tracing-attributes/src/nightly.rs
  tracing-attributes/src/stable.rs
  tracing-attributes/test_async_await/Cargo.toml
Labels: crate/proc-macros, kind/feature

#259 core: minor doc fixes
  tracing-core/src/dispatcher.rs
  tracing-core/src/lib.rs
  tracing-core/src/subscriber.rs
Labels: crate/core, kind/docs

#262 Add generics to instrumented methods.
  tracing-attributes/src/lib.rs
  tracing-attributes/tests/instrument.rs
Labels: crate/proc-macros

#261 core: prepare to release 0.1.4
  tracing-attributes/test_async_await/Cargo.toml
  tracing-core/CHANGELOG.md
  tracing-core/Cargo.toml
  tracing-core/README.md
  tracing-core/src/lib.rs
Labels: crate/core, kind/maintenance

#260 attributes: prepare to release 0.1.1
  tracing-attributes/CHANGELOG.md
  tracing-attributes/Cargo.toml
  tracing-attributes/src/lib.rs
Labels: crate/proc-macros, kind/maintenance

#263 tracing: support `no-std` + `alloc`
  azure-pipelines.yml
  tracing-attributes/Cargo.toml
  tracing/Cargo.toml
  tracing/examples/counters.rs
  tracing/examples/sloggish/main.rs
  tracing/src/level_filters.rs
  tracing/src/lib.rs
  tracing/src/macros.rs
  tracing/src/span.rs
  tracing/src/stdlib.rs
  tracing/src/subscriber.rs
  tracing/tests/event.rs
  tracing/tests/filter_caching_is_lexically_scoped.rs
  tracing/tests/filters_are_not_reevaluated_for_the_same_span.rs
  tracing/tests/filters_are_reevaluated_for_different_call_sites.rs
  tracing/tests/span.rs
  tracing/tests/subscriber.rs
Labels: crate/tracing, kind/feature

#264 tracing: don't require feature flag for async fn
  tracing/Cargo.toml
  tracing/src/lib.rs
Labels: crate/tracing, kind/maintenance

#265 tracing: prepare to release 0.1.5
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/core, kind/maintenance

#266 log: prepare to release tracing-log 0.0.1-alpha.1
  tracing-log/Cargo.toml
  tracing-log/README.md
  tracing-log/src/lib.rs
  tracing-log/src/trace_logger.rs
  tracing-log/tests/log_tracer.rs
Labels: crate/log, kind/maintenance

#268 chore: add PR labeler action
  .github/labeler.yml
  .github/workflows/label.yml
Labels: kind/maintenance

#267 fmt: prepare to release tracing-fmt 0.0.1-alpha.3
  tracing-fmt/Cargo.toml
  tracing-fmt/README.md
  tracing-fmt/examples/yak_shave.rs
  tracing-fmt/src/filter/env.rs
  tracing-fmt/src/filter/mod.rs
  tracing-fmt/src/filter/reload.rs
  tracing-fmt/src/format.rs
  tracing-fmt/src/lib.rs
  tracing-fmt/src/span.rs
  tracing-fmt/src/time.rs
Labels: crate/fmt, kind/maintenance

#271 examples: update to use Rust 2018 idioms
  nightly-examples/examples/async_fn.rs
  tracing-attributes/examples/args.rs
  tracing-attributes/examples/basic.rs
  tracing-env-logger/Cargo.toml
  tracing-env-logger/examples/hyper-echo.rs
  tracing-env-logger/src/lib.rs
  tracing-fmt/examples/yak_shave.rs
  tracing-futures/examples/proxy_server.rs
  tracing-futures/examples/spawny-thing.rs
  tracing-macros/examples/factorial.rs
  tracing-serde/examples/serde_shaved_yak.rs
  tracing-subscriber/examples/filter_yakshave.rs
  tracing-tower-http/examples/tower-h2-server.rs
  tracing-tower/examples/h2-client.rs
  tracing-tower/examples/h2-server.rs
  tracing-tower/examples/load.rs
  tracing/examples/counters.rs
  tracing/examples/sloggish/main.rs
  tracing/examples/sloggish/sloggish_subscriber.rs
Labels: kind/docs, kind/maintenance

#273 examples: make use of tracing APIs more idiomatic
  nightly-examples/Cargo.toml
  tracing-attributes/Cargo.toml
  tracing-env-logger/Cargo.toml
  tracing-env-logger/examples/hyper-echo.rs
  tracing-env-logger/src/lib.rs
  tracing-fmt/examples/yak_shave.rs
  tracing-fmt/src/filter/env.rs
  tracing-fmt/src/filter/reload.rs
  tracing-futures/Cargo.toml
  tracing-futures/examples/proxy_server.rs
  tracing-futures/examples/spawny-thing.rs
  tracing-serde/examples/serde_shaved_yak.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/examples/filter_yakshave.rs
  tracing-tower-http/Cargo.toml
  tracing-tower-http/examples/tower-h2-server.rs
  tracing-tower/Cargo.toml
  tracing-tower/src/request_span.rs
  tracing/examples/sloggish/main.rs
Labels: kind/docs, kind/maintenance

#278 meta: add pages publish action on master commits
  .github/workflows/publish_pages.yml
Labels: kind/docs, kind/maintenance

#280 tracing: update some RustDoc examples to newer idioms
  tracing/src/lib.rs
  tracing/src/macros.rs
Labels: crate/tracing, kind/docs

#281 core: allow manually constructing events
  tracing-core/src/event.rs
Labels: crate/core, kind/feature

#277 core: add `std::error::Error` as a new primitive type
  tracing-core/src/field.rs
Labels: crate/core, kind/feature

#285 log: fix log callsites sometimes now having stable addresses
  tracing-log/src/lib.rs
Labels: crate/log, kind/bug

#286 subscriber: add function to send an event to the inner subscriber
  tracing-subscriber/src/layer.rs
Labels: crate/subscriber, kind/feature

#287 core: prepare to release 0.1.5
  tracing-core/CHANGELOG.md
  tracing-core/Cargo.toml
  tracing-core/README.md
  tracing-core/src/lib.rs
Labels: crate/core, kind/maintenance

#288 tracing: don't require delimiters for format_args
  tracing/README.md
  tracing/examples/counters.rs
  tracing/examples/sloggish/main.rs
  tracing/src/lib.rs
  tracing/src/macros.rs
  tracing/tests/event.rs
  tracing/tests/macros.rs
Labels: crate/tracing, kind/feature

#279 futures: add initial support for tokio 0.2, futures-preview
  tracing-futures/Cargo.toml
  tracing-futures/src/executor.rs
  tracing-futures/src/executor/futures_01.rs
  tracing-futures/src/executor/futures_preview.rs
  tracing-futures/src/executor/mod.rs
  tracing-futures/src/executor/tokio_alpha.rs
  tracing-futures/src/lib.rs
Labels: crate/futures, kind/feature

#293 attributes: prepare to release 0.1.2
  tracing-attributes/CHANGELOG.md
  tracing-attributes/Cargo.toml
  tracing-attributes/README.md
  tracing-attributes/src/lib.rs
Labels: crate/attributes, kind/maintenance

#297 tracing: prepare to release 0.1.6
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing, kind/maintenance

#307 nightly-examples: track upstream
  nightly-examples/examples/echo.rs
  nightly-examples/examples/proxy_server.rs
Labels: kind/bug, kind/docs

#301 docs: add links to external resources
  README.md
Labels: kind/docs

#304 tracing: fix macro log support
  azure-pipelines.yml
  tracing/src/macros.rs
Labels: crate/tracing, kind/bug

#309 tracing: new syntax puts messages first
  tracing/src/macros.rs
Labels: crate/tracing, kind/feature

#310 tracing: prepare to release 0.1.7
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing, kind/maintenance
