Repository tokio-rs/tracing, pull requests merged in 2019-03, with the labels that each got.

#20 fmt: Fix filtering of spans when they are included in the directive
  tokio-trace-fmt/src/filter.rs
Labels: crate/fmt, kind/bug

#24 chore: De-break the nursery
  .travis.yml
  tokio-trace-fmt/src/default.rs
  tokio-trace-fmt/src/lib.rs
  tokio-trace-fmt/src/span.rs
  tokio-trace-futures/src/executor.rs
  tokio-trace-futures/src/test_support/field.rs
  tokio-trace-futures/src/test_support/subscriber.rs
  tokio-trace-log/src/lib.rs
  tokio-trace-macros/src/lib.rs
  tokio-trace-subscriber/src/compose.rs
  tokio-trace-subscriber/src/registry.rs
  tokio-trace-tower-http/Cargo.toml
  tokio-trace-tower-http/examples/tower-h2-server.rs
  tokio-trace-tower/Cargo.toml
Labels: crate/fmt, crate/log

#25 fmt: Replace horrible handwritten parser with a regex
  tokio-trace-fmt/Cargo.toml
  tokio-trace-fmt/src/filter.rs
  tokio-trace-fmt/src/lib.rs
Labels: crate/fmt

#26 chore: Update for upstream changes
  tokio-trace-env-logger/examples/hyper-echo.rs
  tokio-trace-fmt/src/span.rs
  tokio-trace-futures/src/lib.rs
  tokio-trace-futures/src/test_support/subscriber.rs
  tokio-trace-log/src/lib.rs
  tokio-trace-subscriber/src/registry.rs
Labels: crate/fmt, crate/futures, crate/log

#27 fmt: Add new_visitor to span::Context
  tokio-trace-fmt/src/default.rs
  tokio-trace-fmt/src/filter.rs
  tokio-trace-fmt/src/lib.rs
  tokio-trace-fmt/src/span.rs
Labels: crate/fmt

#31 fmt: Make `FmtSubscriber` more friendly to being in a stacked
  tokio-trace-fmt/src/lib.rs
  tokio-trace-fmt/src/span.rs
Labels: crate/fmt, kind/bug

#33 fmt: add regex for parsing field filters
  tokio-trace-fmt/src/filter.rs
  tokio-trace-fmt/src/lib.rs
Labels: crate/fmt, kind/enhancement

#36 chore: Update for tokio-rs/tokio#988
  tokio-trace-env-logger/examples/hyper-echo.rs
  tokio-trace-futures/src/executor.rs
  tokio-trace-futures/src/lib.rs
  tokio-trace-tower-http/src/lib.rs
  tokio-trace-tower/src/lib.rs
Labels: crate/fmt, crate/futures, crate/log

#37 chore: Remove problematic cargo patches
  Cargo.toml
  tokio-trace-env-logger/Cargo.toml
  tokio-trace-fmt/Cargo.toml
  tokio-trace-futures/Cargo.toml
  tokio-trace-log/Cargo.toml
  tokio-trace-macros/Cargo.toml
  tokio-trace-proc-macros/Cargo.toml
  tokio-trace-slog/Cargo.toml
  tokio-trace-subscriber/Cargo.toml
  tokio-trace-tower-http/Cargo.toml
  tokio-trace-tower/Cargo.toml
Labels: crate/fmt, crate/futures, crate/log, crate/macros, crate/metrics, crate/proc-macros, crate/subscriber
