Repository tokio-rs/tracing, pull requests merged in 2019-12, with the labels that each got.

#451 Add link to examples directory from tracing crate README
  tracing/README.md
Labels: kind/docs

#463 chore: update github actions MSRV; fix broken examples
  .github/workflows/CI.yml
  azure-pipelines.yml
  examples/Cargo.toml
  examples/examples/tower-h2-client.rs
  examples/examples/tower-h2-server.rs
  nightly-examples/Cargo.toml
  nightly-examples/examples/proxy_server.rs
  tracing-futures/Cargo.toml
  tracing-futures/src/executor/mod.rs
  tracing-futures/src/executor/tokio_alpha.rs
Labels: kind/maintenance

#460 subscriber: make `Context::scope` do what it's supposed to
  tracing-subscriber/src/fmt/fmt_layer.rs
  tracing-subscriber/src/layer.rs
  tracing-subscriber/src/registry/mod.rs
Labels: crate/subscriber

#475 tracing: add `Span::is_none`
  tracing/src/span.rs
Labels: crate/tracing, kind/feature

#486 core: prepare to release v0.1.8
  tracing-core/CHANGELOG.md
  tracing-core/README.md
  tracing-core/src/lib.rs
Labels: crate/core, kind/maintenance

#488 attributes: prepare to release 0.1.6
  tracing-attributes/CHANGELOG.md
  tracing-attributes/Cargo.toml
  tracing-attributes/README.md
  tracing-attributes/src/lib.rs
Labels: crate/attributes

#487 tracing: prepare to release 0.1.11
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing, kind/maintenance
