Repository tokio-rs/tracing, pull requests merged in 2019-02, with the labels that each got.

#1 Add `tokio-trace-macros` crate with a trace-ified version of `std::dbg!`
  Cargo.toml
  tokio-trace-macros/Cargo.toml
  tokio-trace-macros/examples/factorial.rs
  tokio-trace-macros/src/lib.rs
  tokio-trace-proc-macros/Cargo.toml
  tokio-trace-proc-macros/examples/basic.rs
  tokio-trace-proc-macros/src/lib.rs
Labels: enhancement

#9 proc-macros: Make basic example more useful
  tokio-trace-proc-macros/examples/basic.rs
Labels: crate/proc-macros, kind/docs, kind/enhancement

#10 proc-macros: Pass params to the function as fields
  tokio-trace-proc-macros/examples/args.rs
  tokio-trace-proc-macros/src/lib.rs
Labels: crate/proc-macros, kind/enhancement

#14 fmt: Add a first pass at a formatting subscriber
  Cargo.toml
  tokio-trace-env-logger/Cargo.toml
  tokio-trace-env-logger/examples/hyper-echo.rs
  tokio-trace-env-logger/examples/hyper-echo/sloggish.rs
  tokio-trace-fmt/Cargo.toml
  tokio-trace-fmt/examples/yak_shave.rs
  tokio-trace-fmt/src/default.rs
  tokio-trace-fmt/src/filter.rs
  tokio-trace-fmt/src/lib.rs
  tokio-trace-fmt/src/span.rs
  tokio-trace-futures/Cargo.toml
  tokio-trace-proc-macros/Cargo.toml
  tokio-trace-proc-macros/examples/args.rs
  tokio-trace-proc-macros/examples/basic.rs
Labels: kind/enhancement

#18 fmt: Reduce span store lock contention
  tokio-trace-fmt/Cargo.toml
  tokio-trace-fmt/src/lib.rs
  tokio-trace-fmt/src/span.rs
Labels: crate/fmt, kind/enhancement
