Repository tokio-rs/tracing, pull requests merged in 2019-10, with the labels that each got.

#371 subscriber: fix duplicate clone_span in `FmtSubscriber`
  tracing-subscriber/src/fmt/span.rs
Labels: crate/subscriber, kind/bug

#374 futures: replace `pin_utils` with `pin_project`
  tracing-futures/Cargo.toml
  tracing-futures/src/lib.rs
Labels: crate/futures, kind/perf

#375 subscriber: prepare to release 0.1.5
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber, kind/maintenance

#305 futures: use current span and dispatcher context
  tracing-futures/src/lib.rs
Labels: crate/futures, kind/feature, meta/finish-line

#376 tracing-futures: prepare to release 0.1.0
  examples/Cargo.toml
  tracing-futures/CHANGELOG.md
  tracing-futures/Cargo.toml
  tracing-futures/README.md
  tracing-futures/src/executor/futures_01.rs
  tracing-futures/src/executor/tokio_alpha.rs
  tracing-futures/src/lib.rs
  tracing-tower/Cargo.toml
Labels: crate/futures, kind/maintenance

#241 subscriber: add an abstraction for building visitors
  tracing-fmt/examples/custom_visitor.rs
  tracing-subscriber/src/field/debug.rs
  tracing-subscriber/src/field/delimited.rs
  tracing-subscriber/src/field/display.rs
  tracing-subscriber/src/field/mod.rs
  tracing-subscriber/src/fmt/format.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/fmt/span.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/prelude.rs
Labels: crate/subscriber, kind/feature

#382 subscriber: allow subscribers to expose stored metadata to layers
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/layer.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/registry/mod.rs
Labels: crate/subscriber, kind/feature

#390 chore: fix nightly CI
  azure-pipelines.yml
Labels: kind/maintenance

#393 core: prepare to release 0.1.7
  tracing-core/CHANGELOG.md
  tracing-core/README.md
  tracing-core/src/lib.rs
Labels: crate/core

#398 tracing-attributes: prepare to release 0.1.5
  tracing-attributes/CHANGELOG.md
  tracing-attributes/Cargo.toml
  tracing-attributes/README.md
  tracing-attributes/src/lib.rs
Labels: crate/attributes, kind/maintenance

#409 chore: rethink warnings
  examples/examples/serde-yak-shave.rs
  tracing-attributes/src/lib.rs
  tracing-core/src/lib.rs
  tracing-futures/src/lib.rs
  tracing-log/src/lib.rs
  tracing-serde/src/fields.rs
  tracing-serde/src/lib.rs
  tracing-subscriber/src/lib.rs
  tracing-tower/src/lib.rs
  tracing/src/lib.rs
Labels: kind/maintenance

#413 log: prepare to release 0.1.1
  tracing-log/CHANGELOG.md
  tracing-log/README.md
  tracing-log/src/lib.rs
  tracing-log/src/trace_logger.rs
Labels: crate/log, kind/maintenance

#414 futures: prepare to publish 0.1.1
  tracing-futures/CHANGELOG.md
  tracing-futures/Cargo.toml
  tracing-futures/README.md
  tracing-futures/src/lib.rs
Labels: crate/futures, kind/maintenance
