Repository tokio-rs/tracing, pull requests merged in 2019-09, with the labels that each got.

#311 fmt, subscriber: move fmt into subscriber
  nightly-examples/Cargo.toml
  nightly-examples/examples/async_fn.rs
  nightly-examples/examples/echo.rs
  nightly-examples/examples/proxy_server.rs
  nightly-examples/examples/spawny_thing.rs
  tracing-attributes/Cargo.toml
  tracing-attributes/examples/args.rs
  tracing-attributes/examples/basic.rs
  tracing-env-logger/Cargo.toml
  tracing-env-logger/examples/hyper-echo.rs
  tracing-fmt/Cargo.toml
  tracing-fmt/README.md
  tracing-fmt/src/filter/env.rs
  tracing-fmt/src/filter/mod.rs
  tracing-fmt/src/filter/reload.rs
  tracing-fmt/src/lib.rs
  tracing-futures/Cargo.toml
  tracing-futures/examples/proxy_server.rs
  tracing-futures/examples/spawny-thing.rs
  tracing-subscriber/Cargo.toml
  tracing-subscriber/examples/filter.rs
  tracing-subscriber/examples/filter_yakshave.rs
  tracing-subscriber/examples/fmt/fmt.rs
  tracing-subscriber/examples/fmt/yak_shave.rs
  tracing-subscriber/examples/fmt_stderr.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/fmt/format.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/fmt/span.rs
  tracing-subscriber/src/fmt/time.rs
  tracing-subscriber/src/fmt/writer.rs
  tracing-subscriber/src/layer.rs
  tracing-subscriber/src/lib.rs
  tracing-tower-http/Cargo.toml
  tracing-tower-http/examples/tower-h2-server.rs
  tracing-tower/Cargo.toml
  tracing-tower/examples/h2-client.rs
  tracing-tower/examples/h2-server.rs
  tracing-tower/examples/load.rs
Labels: crate/fmt, crate/subscriber, kind/maintenance

#312 subscriber: pre-0.1 polish pass
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/field.rs
  tracing-subscriber/src/filter/level.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/fmt/format.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/fmt/span.rs
  tracing-subscriber/src/layer.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/prelude.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/thread.rs
  tracing-tower/examples/load.rs
Labels: crate/subscriber, kind/maintenance

#315 log: fix cyclic dependency
  tracing-env-logger/Cargo.toml
  tracing-log/Cargo.toml
  tracing-log/src/trace_logger.rs
  tracing-subscriber/Cargo.toml
Labels: crate/log, kind/bug, kind/maintenance

#316 chore: move examples to a central crate
  Cargo.toml
  examples/Cargo.toml
  examples/README.md
  examples/examples/attrs-args.rs
  examples/examples/attrs-basic.rs
  examples/examples/counters.rs
  examples/examples/fmt-stderr.rs
  examples/examples/fmt/fmt.rs
  examples/examples/fmt/yak_shave.rs
  examples/examples/futures-proxy-server.rs
  examples/examples/futures-spawn.rs
  examples/examples/hyper-echo.rs
  examples/examples/serde-yak-shave.rs
  examples/examples/sloggish/main.rs
  examples/examples/sloggish/sloggish_subscriber.rs
  examples/examples/subscriber-filter.rs
  examples/examples/tower-h2-client.rs
  examples/examples/tower-h2-server.rs
  examples/examples/tower-load.rs
  tracing-attributes/Cargo.toml
  tracing-env-logger/Cargo.toml
  tracing-fmt/examples/writer_stderr.rs
  tracing-fmt/examples/yak_shave.rs
  tracing-futures/Cargo.toml
  tracing-serde/Cargo.toml
  tracing-slog/examples/basic.rs
  tracing-tower-http/examples/tower-h2-server.rs
  tracing/Cargo.toml
Labels: kind/maintenance

#317 tracing: reorganize & clarify documentation
  tracing/src/lib.rs
  tracing/src/macros.rs
Labels: crate/tracing, kind/docs

#318 log: prepare to release 0.1
  examples/Cargo.toml
  tracing-env-logger/Cargo.toml
  tracing-log/CHANGELOG.md
  tracing-log/Cargo.toml
  tracing-log/README.md
  tracing-log/src/lib.rs
  tracing-log/src/log_tracer.rs
  tracing-log/src/trace_logger.rs
  tracing-subscriber/Cargo.toml
Labels: crate/log, kind/maintenance

#319 tracing: prepare to release 0.1.8
  examples/Cargo.toml
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing, kind/maintenance

#320 subscriber: prepare to release 0.1
  examples/Cargo.toml
  nightly-examples/Cargo.toml
  tracing-fmt/Cargo.toml
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber, kind/maintenance

#324 chore: fix PR labeler action
  .github/labeler.yml
  .github/workflows/label.yml
  .github/workflows/publish_pages.yml
Labels: kind/bug, kind/maintenance

#323 meta: consolidate & clean up crates
  Cargo.toml
  README.md
  examples/Cargo.toml
  examples/examples/hyper-echo.rs
  tracing-env-logger/Cargo.toml
  tracing-env-logger/src/lib.rs
  tracing-fmt/Cargo.toml
  tracing-fmt/README.md
  tracing-fmt/src/lib.rs
  tracing-log/Cargo.toml
  tracing-log/src/env_logger.rs
  tracing-log/src/lib.rs
  tracing-slog/Cargo.toml
  tracing-slog/src/lib.rs
  tracing-tower-http/Cargo.toml
  tracing-tower-http/src/lib.rs
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/log, crate/tracing, kind/docs, kind/maintenance

#325 subscriber: avoid double panics in `CurrentSpan`
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/thread.rs
Labels: crate/subscriber, kind/bug

#327 subscriber: prepare to release 0.1.1
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber, kind/maintenance

#326 core, tracing: make disabled events way faster
  tracing-core/src/dispatcher.rs
  tracing-macros/Cargo.toml
  tracing/Cargo.toml
  tracing/benches/no_subscriber.rs
  tracing/benches/subscriber.rs
  tracing/src/lib.rs
  tracing/src/macros.rs
  tracing/src/span.rs
Labels: crate/core, crate/proc-macros, crate/tracing, kind/perf

#328 chore: port CI to GitHub Actions
  .github/workflows/CI.yml
Labels: kind/maintenance

#329 subscriber: add `fmt::Display` impl for `Filter`
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/field.rs
  tracing-subscriber/src/filter/level.rs
  tracing-subscriber/src/filter/mod.rs
Labels: crate/subscriber

#335 chore: make CI filters less restrictive
  .github/workflows/CI.yml
Labels: kind/maintenance

#333 subscriber: fix wrong `PartialOrd` impls for `Directive`s
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/field.rs
  tracing-subscriber/tests/filter.rs
  tracing-subscriber/tests/same_len_filters.rs
Labels: crate/subscriber, kind/bug

#334 subscriber: allow adding directives to filters
  tracing-subscriber/src/filter/directive.rs
  tracing-subscriber/src/filter/mod.rs
Labels: crate/subscriber

#336 subscriber: better default filtering
  examples/examples/attrs-args.rs
  examples/examples/futures-spawn.rs
  examples/examples/hyper-echo.rs
  examples/examples/tower-h2-client.rs
  examples/examples/tower-h2-server.rs
  nightly-examples/examples/echo.rs
  nightly-examples/examples/proxy_server.rs
  nightly-examples/examples/spawny_thing.rs
  tracing-subscriber/src/filter/env/directive.rs
  tracing-subscriber/src/filter/env/field.rs
  tracing-subscriber/src/filter/env/mod.rs
  tracing-subscriber/src/filter/level.rs
  tracing-subscriber/src/filter/mod.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/layer.rs
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber, kind/feature

#348 subscriber: rm crossbeam-utils, make parking_lot opt-in
  tracing-subscriber/Cargo.toml
  tracing-subscriber/benches/filter.rs
  tracing-subscriber/src/filter/env/mod.rs
  tracing-subscriber/src/fmt/span.rs
  tracing-subscriber/src/lib.rs
  tracing-subscriber/src/reload.rs
  tracing-subscriber/src/sync.rs
  tracing-subscriber/src/thread.rs
Labels: crate/subscriber, kind/maintenance

#346 tracing: don't emit log events if a subscriber has been set
  tracing/Cargo.toml
  tracing/src/lib.rs
  tracing/src/macros.rs
  tracing/src/span.rs
  tracing/test-log-support/Cargo.toml
  tracing/test-log-support/tests/log_no_trace.rs
Labels: crate/tracing, kind/feature

#347 subscriber: prepare to release 0.1.2
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber, kind/maintenance

#349 tracing: prepare to release 0.1.9
  tracing/CHANGELOG.md
  tracing/Cargo.toml
  tracing/README.md
  tracing/src/lib.rs
Labels: crate/tracing, kind/maintenance

#350 subscriber: Forward current_span impl for Layered
  tracing-subscriber/src/layer.rs
Labels: crate/subscriber

#351 subscriber: prepare to release 0.1.3
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber, kind/maintenance

#362 chore: remove PR labeler workflow
  .github/workflows/label.yml
Labels: kind/maintenance

#361 fmt: Track duplicate spans in fmt context
  tracing-subscriber/src/fmt/span.rs
  tracing-subscriber/tests/duplicate_spans.rs
Labels: meta/finish-line

#354 subscriber: Remove ansi for time when ansi = false
  tracing-subscriber/src/fmt/format.rs
  tracing-subscriber/src/fmt/mod.rs
  tracing-subscriber/src/fmt/time.rs
  tracing-subscriber/src/fmt/writer.rs
Labels: meta/finish-line

#366 subscriber: fix incorrect reference counting in fmt
  tracing-subscriber/src/fmt/span.rs
Labels: crate/subscriber, kind/bug

#364 attributes: prepare to release 0.1.4
  tracing-attributes/CHANGELOG.md
  tracing-attributes/Cargo.toml
  tracing-attributes/README.md
  tracing-attributes/src/lib.rs
Labels: crate/attributes, kind/maintenance

#363 subscriber: prepare to release 0.1.4
  tracing-subscriber/CHANGELOG.md
  tracing-subscriber/Cargo.toml
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
Labels: crate/subscriber, kind/maintenance
