Repository tokio-rs/tracing, pull requests merged in 2020-10, with the labels that each got.

#1003 tracing: remove `Into<Option<Id>>` impl for `Span`
  tracing/src/span.rs
Labels: meta/breaking

#1017 core: remove mandatory liballoc dependency with no-std
  tracing-core/Cargo.toml
  tracing-core/src/callsite.rs
  tracing-core/src/dispatcher.rs
  tracing-core/src/field.rs
  tracing-core/src/lazy_static/LICENSE
  tracing-core/src/lazy_static/core_lazy.rs
  tracing-core/src/lazy_static/mod.rs
  tracing-core/src/lib.rs
  tracing-core/src/spin/mod.rs
  tracing-core/src/spin/mutex.rs
  tracing-core/src/subscriber.rs
  tracing-core/tests/dispatch.rs
  tracing-core/tests/global_dispatch.rs
  tracing/Cargo.toml
  tracing/benches/global_subscriber.rs
  tracing/benches/subscriber.rs
  tracing/src/dispatcher.rs
  tracing/src/lib.rs
  tracing/src/subscriber.rs
  tracing/tests/filter_caching_is_lexically_scoped.rs
  tracing/tests/filters_are_not_reevaluated_for_the_same_span.rs
  tracing/tests/filters_are_reevaluated_for_different_call_sites.rs
  tracing/tests/max_level_hint.rs
Labels: area/no-std, crate/core, crate/tracing, kind/feature, meta/breaking

#1027 opentelemetry: Assign default ids if missing
  tracing-opentelemetry/src/tracer.rs
Labels: crate/opentelemetry

#1029 opentelemetry: Backport Assign default ids if missing
  tracing-opentelemetry/src/tracer.rs
Labels: crate/opentelemetry

#1036 opentelemetry: prepare for 0.8.0 release
  tracing-opentelemetry/CHANGELOG.md
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
Labels: crate/opentelemetry

#1037 opentelemetry: Backport #1036 - prepare for 0.8.0 release
  tracing-opentelemetry/CHANGELOG.md
  tracing-opentelemetry/Cargo.toml
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
Labels: crate/opentelemetry

#1058 subscriber: make Registry::enter/exit much faster
  tracing-subscriber/Cargo.toml
  tracing-subscriber/benches/enter.rs
  tracing-subscriber/src/registry/sharded.rs
  tracing-subscriber/src/registry/stack.rs
Labels: crate/subscriber, kind/perf
