Repository tokio-rs/tracing, pull requests merged in 2020-09, with the labels that each got.

#962 opentelemetry: Add PreSampledTracer interface
  tracing-opentelemetry/src/layer.rs
  tracing-opentelemetry/src/lib.rs
  tracing-opentelemetry/src/span_ext.rs
  tracing-opentelemetry/src/tracer.rs
Labels: crate/opentelemetry

#994 core, tracing: don't inline dispatcher::get_default
  tracing-core/src/event.rs
  tracing/src/span.rs
Labels: crate/core, crate/tracing

#995 subscriber: make `PartialOrd` & `Ord` impls more correct
  tracing-subscriber/src/filter/env/directive.rs
  tracing-subscriber/src/filter/env/field.rs
Labels: crate/subscriber
