Repository tokio-rs/tracing, pull requests merged in 2020-06, with the labels that each got.

#749 core: compare `callsite::Identifier` data pointers only
  tracing-core/src/callsite.rs
Labels: crate/core

#752 appender: temporarily ignore flaky test
  tracing-appender/src/non_blocking.rs
Labels: crate/appender

#767 subscriber: handle explicit event parents properly in formatters
  examples/examples/tower-client.rs
  examples/examples/tower-load.rs
  examples/examples/tower-server.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/time.rs
Labels: crate/subscriber, kind/bug

#769 docs: better docs on async usage; fancy warning formatting, etc
  README.md
  tracing-core/src/dispatcher.rs
  tracing-core/src/field.rs
  tracing-core/src/metadata.rs
  tracing-core/src/span.rs
  tracing-subscriber/src/layer.rs
  tracing-subscriber/src/registry/mod.rs
  tracing/src/dispatcher.rs
  tracing/src/field.rs
  tracing/src/lib.rs
  tracing/src/span.rs
Labels: crate/core, crate/subscriber, crate/tracing, kind/docs

#761 print spans on close
  tracing-subscriber/Cargo.toml
  tracing-subscriber/src/fmt/fmt_layer.rs
  tracing-subscriber/src/fmt/format/mod.rs
  tracing-subscriber/src/fmt/mod.rs
Labels: crate/subscriber, kind/feature
