Repository tokio-rs/tracing, pull requests merged in 2020-08, with the labels that each got.

#907 subscriber: fix level hint not considering value filters
  tracing-subscriber/src/filter/env/directive.rs
  tracing-subscriber/src/filter/env/mod.rs
Labels: crate/subscriber, kind/bug

#941 docs: consistent MSRV docs & policy explanation
  README.md
  tracing-appender/README.md
  tracing-appender/src/lib.rs
  tracing-attributes/README.md
  tracing-attributes/src/lib.rs
  tracing-core/README.md
  tracing-core/src/lib.rs
  tracing-error/README.md
  tracing-error/src/lib.rs
  tracing-flame/README.md
  tracing-flame/src/lib.rs
  tracing-futures/README.md
  tracing-futures/src/lib.rs
  tracing-journald/README.md
  tracing-journald/src/lib.rs
  tracing-log/README.md
  tracing-log/src/lib.rs
  tracing-opentelemetry/README.md
  tracing-opentelemetry/src/lib.rs
  tracing-serde/Cargo.toml
  tracing-serde/README.md
  tracing-serde/src/lib.rs
  tracing-subscriber/README.md
  tracing-subscriber/src/lib.rs
  tracing/README.md
  tracing/src/lib.rs
Labels: kind/docs

#956 opentelemetry: Connect external traces
  tracing-opentelemetry/src/layer.rs
Labels: crate/opentelemetry
