Repository tokio-rs/tracing, pull requests merged in 2022-04, with the labels that each got.

#2073 tracing: fix the "log" feature making async block futures `!Send`
  tracing/src/lib.rs
  tracing/src/macros.rs
  tracing/src/span.rs
  tracing/test-log-support/src/lib.rs
  tracing/test-log-support/tests/log_no_trace.rs
  tracing/test-log-support/tests/log_with_trace.rs
  tracing/test-log-support/tests/span_activity_filtered_separately.rs
  tracing/test-log-support/tests/span_lifecycle_can_be_enabled.rs
  tracing/tests/future_send.rs
Labels: kind/bug, crate/tracing

#2083 core: add a limited form of the linked-list callsite registry for v0.1.x
  tracing-core/src/callsite.rs
  tracing-core/src/dispatcher.rs
  tracing-mock/src/subscriber.rs
  tracing/Cargo.toml
  tracing/src/lib.rs
  tracing/src/macros.rs
  tracing/tests/register_callsite_deadlock.rs
Labels: kind/feature, crate/core, kind/perf

#2099 opentelemetry: fix event source location
  tracing-opentelemetry/src/subscriber.rs
Labels: crate/opentelemetry
